html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(46, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sidenav {
    width: 150px;
    height: 502px;
    margin-top: -20px;
    border: 3px solid gold;
    border-right: 0;
    align-content: center;
    overflow: hidden;
}
div.highscore {
    position: relative;
    border: 3px solid gold;
    color: whitesmoke;
    text-align: center;
}

p {
    height: 50px;
    width: 100px;
    background-color:gray;
    border: 1px solid gold;
    border-radius: 15px;
    text-align: center;
    padding-top: 3px;
    font-size: 16px;
    font-family: 'Trebuchet MS';
    margin: 30px auto 30px auto;
    color: whitesmoke;
}

h2 {
    color: whitesmoke; 
    text-align: center;
    font-size: 36px;
    font-family: 'Caesar Dressing', cursive;
    padding: 10px 0 10px 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

   
.table-bordered {
    height: 500px;
    width: 500px;
    text-align: center;
    border: 3px solid gold;
    border-radius: 0 15px 15px 0;
}

tr {
    border-spacing: 0;
    display: flex;
}

td {
    width: 62px;
    height: 62px;
    margin: auto;
    border-spacing: 0;
    display: flex;
    text-align: center;
}

td img {
    pointer-events: none;    
}

.selected {
    background-color: peachpuff;
}

